body {
	background-image: url(images/images.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	font-family: Arial;
}

.main{
	height: 100px;	
	text-align: center;
	background-color: rgb(232, 223, 159);
	font-size: 250%
}

h3 {
	font-size: 200%;
}

.radio {
	height: 300px;
	text-align: center;
	font-size: 300%;
}

#radio1 {
	float: left;
	width: 20%;
	background-color: rgb(104, 232, 93);
	display: inline;
}

#radio2 {
	width: 20%;
	background-color: rgb(42, 1, 255);
	display: inline;
}

#radio3 {
	float: right;
 	width: 20%;
	background-color: rgb(232, 6, 20);
	display: inline;
}



