body {
	background-image: url(images/images.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
	font-family: Arial;
}

.main{
	height: 50px;	
	text-align: center;
	background-color: rgb(232, 223, 159);
	font-size: 100%;
}

h3 {
	font-size: 200%;
}

p {
	font-size: 200%;
	text-align: center;
	color: rgb(147, 96, 232);
}

