body {
	background-image: url(images/images.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	font-family: Arial;
}

.main{
	height: 100px;	
	text-align: center;
	background-color: rgb(232, 223, 159);
	font-size: 250%
}

h3 {
	font-size: 200%;
}

p {
	font-size: 100%;
}